@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500;ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,400;1,500&family=Cinzel:wght@500&family=DM+Sans:wght@500&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root {
    --text-color: #593d7d;
    --font-family: Montserrat;
    --background: linear-gradient(135deg, #2c1457, #593d7d);
}

html {
    scroll-behavior: smooth;
    font-family: var(--font-family), Arial, Helvetica, sans-serif;
}

body {
    margin: 0;
    background: var(--background);
}

.main-container > a {
    display: block;
    margin: 1rem auto;
    width: 100px;
    height: auto;
}

.logo {
    display: block;
    width: 100%;
    height: auto;
}

.main-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
}

.form {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    height: max-content;
    min-height: 10rem;
    color: var(--text-color);
    width: 30rem;
    padding: 2rem 3rem;
    margin: auto;
    background: linear-gradient(135deg, #e4effe, #cfdff9);
    border-radius: 30px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transform: translate(0, -10%);
}

.input-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

.form input {
    border: 1px solid #6956f4;
    border-radius: 12px;
    font-size: 1.3rem;
    padding: .5rem;
    width: 70%;
}

.form input, .form span, #check-btn {
    margin: 1rem 0;
}

.form input[type="text"] {
    font-size: 1.3rem;
    font-family: var(--font-family);
}

#result {
    background-color: #3f3b63;
    color: #fff;
    border: none;
    width: calc(100% - 1rem);
    border-radius: 15px;
    transition: transform 0.3s ease, background-color 0.3s ease;
    margin: 0.67em 0; /* Same margin height as default h1 */
    align-items: center;
    justify-content: center;
    padding: 1rem 0 1rem 1rem;
    background-color: #514768;
    color: #e8e5ff;
    border-radius: 15px;
    box-shadow: inset 2px 2px 5px rgba(0, 0, 0, 0.3);
    animation: fade-in 0.5s ease-in-out;
}

#check-btn {
    background-color: #6956f4;
    color: #fff;
    border: none;
    padding: 0.65rem 2rem;
    border-radius: 15px;
    cursor: pointer;
    font-size: 1.1rem;
    font-family: var(--font-family);
    transition: transform 0.3s ease, background-color 0.3s ease;
}

#check-btn:hover {
    transform: scale(1.05);
    background-color: #5745d4;
}

.hidden {
    display: none;
}

@media (max-width: 600px) {
    .form {
        width: 75vw;
        padding: 1rem 1.5rem;
        flex-direction: column;
        margin: 10vh auto;
    }

    .form input {
        width: 65%;
        font-size: 1rem;
    }

    .input-container {
        flex-direction: column;
    }

    #check-btn {
        width: 50%;
        padding: 0.8rem 1rem;
    }

    h1 {
        font-size: 1.5rem;
    }

    .form input[type="text"] {
        font-size: 1rem;
    }
}

@keyframes fade-in {
    0% {
        opacity: 0;
        transform: translateY(-10px) scale(0.95);
    }

    50% {
        opacity: 0.5;
        transform: translateY(5px) scale(1.02);
    }

    100% {
        opacity: 1;
        transform: translateY(0) scale(1);
    }
}

@media (orientation: landscape) and (max-width: 1000px) {

    .form {
        transform: translate(0, 0);
    }

    .main-container > a {
        display: block;
        position: absolute;
        top: 0;
        left: 0;
        margin: 1rem;
        width: 100px;
        height: auto;
    }

    .logo {
        width: 60%;
        
    }
}